In [1]:
import numpy as np
import pandas as pd
import os
from collections import OrderedDict

In [2]:
from platform import python_version
print(python_version())

3.6.6

### Exp of classifing movie genres based on their events.

In [4]:
movies = pd.read_csv('../../data/movie_metadata_cleaned.tsv', sep = '\t')

In [5]:
movies.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,dict_values(['English Language']),dict_values(['United States of America']),Thriller
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,dict_values(['English Language']),dict_values(['United States of America']),Drama

### Read in events data

In [7]:
event_file = [item for item in os.listdir('../../data/protag_events_v2/') if 'txt' in item]

In [14]:
d = {}
for name in event_file:
    with open(os.path.join('../../data/protag_events_v2/', name), 'r') as f:
        #Only use the verb
        verbs = []
        for line in [line.strip() for line in f.readlines()]:
            line = line.split(' ')
            verbs.append(line[1])
        if len(verbs) > 1:    
            d[int(name.split('_')[0])] = verbs

In [15]:
movies.Wikipedia_id = movies.Wikipedia_id.astype(int)

In [16]:
movies['Events'] = movies['Wikipedia_id'].map(d)

In [19]:
movies = movies.dropna(subset = ['Events'])

In [20]:
movies['Genre_code'] = movies.Genres.astype("category").cat.codes

In [21]:
movies.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Events,Genre_code
13,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,dict_values(['English Language']),dict_values(['United States of America']),Action,"[weather-57, battle-36.4-1, require-103-1, see...",0
85,7767613,/m/026ccts,Star!,1968-07-18,4000000.0,176.0,dict_values(['English Language']),dict_values(['United States of America']),Drama,"[mix-22.1-2-1, correspond-36.1, amuse-31.1, ge...",2

In [22]:
movies.Genre_code.value_counts()

2    1917
4    1281
1     975
3     520
0     374
Name: Genre_code, dtype: int64

In [23]:
movies.to_csv('metadata_events_table.tsv', sep = '\t', index=False)