In [27]:
import pandas as pd
from collections import Counter

In [3]:
character_df = pd.read_csv('../../data/MovieSummaries/character.metadata.tsv',\
                 sep = '\t', names = ['Wikipedia_movie_id','Freebase_movie_id', 'Release_date', 'Character_name',\
                                        'Actor_birth_date', 'Actor_gender', 'Actor_height', 'Actor_race', 'Actor_name',\
                                        'Actor_age', 'Freebase_character_actor_mapid', 'Freebase_character_id', \
                                        'Freebase_actor_id'])

In [54]:
character_df.head(2)

,Wikipedia_movie_id,Freebase_movie_id,Release_date,Character_name,Actor_birth_date,Actor_gender,Actor_height,Actor_race,Actor_name,Actor_age,Freebase_character_actor_mapid,Freebase_character_id,Freebase_actor_id
0,975900,/m/03vyhn,2001-08-24,Akooshay,1958-08-26,F,1.62,NaN,Wanda De Jesus,42.0,/m/0bgchxw,/m/0bgcj3x,/m/03wcfv7
1,975900,/m/03vyhn,2001-08-24,Lieutenant Melanie Ballard,1974-08-15,F,1.78,/m/044038p,Natasha Henstridge,27.0,/m/0jys3m,/m/0bgchn4,/m/0346l4

In [70]:
movie_df = pd.read_csv('../../data/MovieSummaries/movie.metadata.tsv',\
                       sep = '\t', names = ['Wikipedia_id', 'Freebase_id', 'Name', 'Release_date','Revenue',\
                       'Runtime', 'Languages', 'Countries', 'Genres'])

In [71]:
movie_df.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [72]:
movie_df.Languages = movie_df.Languages.apply(lambda cell: eval(cell).values())

In [73]:
movie_df.Countries = movie_df.Countries.apply(lambda cell: eval(cell).values())

In [74]:
movie_df.Genres = movie_df.Genres.apply(lambda cell: eval(cell).values())

In [75]:
movie_df.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,(English Language),(United States of America),"(Thriller, Science Fiction, Horror, Adventure,..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,(English Language),(United States of America),"(Mystery, Biographical film, Drama, Crime Drama)"

In [76]:
genres = []
for item in movie_df.Genres.tolist():
    genres.extend(list(item))

In [77]:
c = Counter(genres)

In [78]:
def filter_genre(cell):
    genre_list = ['Drama', 'Comedy', 'Romance Film', 'Thriller', 'Action']
    ftd_list = [item for item in cell if item in genre_list]
    if len(ftd_list) > 0:
        return ftd_list[0]
    else:
        return 0

In [79]:
movie_df.Genres = movie_df.Genres.apply(lambda cell: filter_genre(cell))

In [80]:
movie_df.head()

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,(English Language),(United States of America),Thriller
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,(English Language),(United States of America),Drama
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,(Norwegian Language),(Norway),Drama
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,(English Language),(United Kingdom),Thriller
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,(German Language),(Germany),Drama

In [81]:
len(movie_df)

81741

In [82]:
movie_df = movie_df[movie_df['Genres']!= 0]

In [83]:
len(movie_df)

54961

In [84]:
movie_df.head()

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,(English Language),(United States of America),Thriller
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,(English Language),(United States of America),Drama
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,(Norwegian Language),(Norway),Drama
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,(English Language),(United Kingdom),Thriller
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,(German Language),(Germany),Drama

In [91]:
set([len(item.split(',')) for item in movie_df.Genres.tolist()])

{1}

In [92]:
movie_df.to_csv('movie_metadata_cleaned.tsv', index=False, sep='\t')