In [1]:
import pandas as pd
import spacy

In [2]:
speech_data = '../data/hein-daily/speeches_114.txt'

In [8]:
metadata = '../data/hein-daily/114_SpeakerMap.txt'

In [6]:
df = pd.read_csv(speech_data, sep = '|',error_bad_lines=False, encoding='utf8')

b'Skipping line 81799: expected 2 fields, saw 3\n'

In [7]:
df.head()

    speech_id                                             speech
0  1140000001  The Representativeselect and their guests will...
1  1140000002  As directed by law. the Clerk of the House has...
2  1140000003  Four hundred and one Represent ativeselect hav...
3  1140000004  Credentials. regular in form. have been receiv...
4  1140000005  The Clerk is in receipt of a letter from the H...

In [11]:
with open (speech_data, 'r') as f:
    speech = f.readlines()

In [13]:
speech[0]

'speech_id|speech\n'

In [18]:
len(speech)

112291

In [24]:
nlp = spacy.load('en')

In [ ]:
for f in file_list:
    with open(data_path + f, 'r') as data:
        text = data.read().replace('\n', ' ').replace('‘', '\'').replace('’','\'')
        doc = nlp(text)
        with open (f + '_cleaned', 'w') as g:
            for sent in doc.sents:
                g.write(str(sent) + '\n')

In [27]:
for line in speech[1:]:
    line = line.strip().split('|')
    if len(line[1].split()) > 50:
        doc = nlp(line[1])
        with open('../data/114_doc_byspeech/' + line[0], 'w') as g:
            for sent in doc.sents:
                g.write(str(sent) + '\n')

In [30]:
with open ('114_srl.sh', 'w') as g:
    for line in speech[1:]:
        line = line.strip().split('|')
        if len(line[1].split()) > 50:
            g.write("./senna -srl -ner <'/Users/a307/Desktop/to_mbp_migration_20180323/Desktop/qualz/qual_Johan/data/114_doc_byspeech/"\
                    + line[0] + "'>" + " " + str(line[0]) + ".txt")
            g.write('\n')

In [20]:
cnt

49566

In [9]:
df2 = pd.read_csv(metadata, sep = '|',error_bad_lines=False, encoding='utf8')

In [10]:
df2.head()

,speakerid,speech_id,lastname,firstname,chamber,state,gender,party,district,nonvoting
0,114120480,1140000007,MCMORRIS RODGERS,CATHY,H,WA,F,R,5.0,voting
1,114118560,1140000009,BECERRA,XAVIER,H,CA,M,D,34.0,voting
2,114121890,1140000011,MASSIE,THOMAS,H,KY,M,R,4.0,voting
3,114122500,1140000013,BRIDENSTINE,JIM,H,OK,M,R,1.0,voting
4,114120780,1140000017,PELOSI,NANCY,H,CA,F,D,12.0,voting