In [78]:
import numpy as np
import pandas as pd
import os
from collections import OrderedDict

In [79]:
from platform import python_version
print(python_version())

3.6.6

In [91]:
movies = pd.read_csv('../../data/movie_metadata_full.tsv', sep = '\t')

In [93]:
movies = pd.read_csv('../../data/raw/MovieSummaries/movie.metadata.tsv',\
                       sep = '\t', names = ['Wikipedia_id', 'Freebase_id', 'Name', 'Release_date','Revenue',\
                       'Runtime', 'Languages', 'Countries', 'Genres'])

In [94]:
movies.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [95]:
len(movies)

81741

### Read in events data

In [96]:
event_file = [item for item in os.listdir('../../data/protag_events_nogen/') if 'txt' in item]

In [97]:
d = {}
for name in event_file:
    with open(os.path.join('../../data/protag_events_nogen/', name), 'r') as f:
        #only use the verbs
        verbs = []
        for line in [line.strip() for line in f.readlines()]:
            line = line.split(' ')
            verbs.append(line[1])
        if len(verbs) > 1:    
            d[int(name.split('_')[0])] = verbs

In [98]:
movies.Wikipedia_id = movies.Wikipedia_id.astype(int)

In [99]:
movies['Events'] = movies['Wikipedia_id'].map(d)

In [100]:
len(d)

13053

In [101]:
movies = movies.dropna(subset = ['Events'])

In [102]:
len(movies)

13017

In [103]:
movies.to_csv('../../data/metadata_events_table.tsv', sep = '\t', index=False)

### If filter to major x genres

In [25]:
movies['Genre_code'] = movies.Genres.astype("category").cat.codes

In [26]:
dict( enumerate(movies.Genres.astype("category").cat.categories) )

{0: 'Action', 1: 'Comedy', 2: 'Drama', 3: 'Romance Film', 4: 'Thriller'}

In [15]:
movies.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres,Events,Genre_code
3,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,dict_values(['German Language']),dict_values(['Germany']),Drama,"[drawn, learns, meets, falls, enters, finds, d...",2
10,11250635,/m/02r52hc,The Mechanical Monsters,NaN,NaN,NaN,dict_values(['English Language']),dict_values(['United States of America']),Action,"[spots, struggles, demands, are, frees, knocks...",0

In [16]:
movies.Genre_code.value_counts()

2    2375
1    1612
4     667
0     473
3     140
Name: Genre_code, dtype: int64

In [17]:
movies.to_csv('../../data/metadata_events_table.tsv', sep = '\t', index=False)