In [1]:
import pandas as pd
from collections import Counter

In [24]:
# character_df = pd.read_csv('../../data/raw/MovieSummaries/character.metadata.tsv',\
#                  sep = '\t', names = ['Wikipedia_movie_id','Freebase_movie_id', 'Release_date', 'Character_name',\
#                                         'Actor_birth_date', 'Actor_gender', 'Actor_height', 'Actor_race', 'Actor_name',\
#                                         'Actor_age', 'Freebase_character_actor_mapid', 'Freebase_character_id', \
#                                         'Freebase_actor_id'])

In [25]:
# character_df.head(2)

In [26]:
movie_df = pd.read_csv('../../data/raw/MovieSummaries/movie.metadata.tsv',\
                       sep = '\t', names = ['Wikipedia_id', 'Freebase_id', 'Name', 'Release_date','Revenue',\
                       'Runtime', 'Languages', 'Countries', 'Genres'])

In [27]:
movie_df.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."

In [28]:
movie_df.Languages = movie_df.Languages.apply(lambda cell: eval(cell).values())

In [29]:
movie_df.Countries = movie_df.Countries.apply(lambda cell: eval(cell).values())

In [30]:
movie_df.Genres = movie_df.Genres.apply(lambda cell: eval(cell).values())

In [31]:
movie_df.head()

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,(English Language),(United States of America),"(Thriller, Science Fiction, Horror, Adventure,..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,(English Language),(United States of America),"(Mystery, Biographical film, Drama, Crime Drama)"
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,(Norwegian Language),(Norway),"(Crime Fiction, Drama)"
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,(English Language),(United Kingdom),"(Thriller, Erotic thriller, Psychological thri..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,(German Language),(Germany),(Drama)

In [32]:
len(movie_df)

81741

In [23]:
movie_df.to_csv('../../data/movie_metadata_full.tsv', index=False, sep='\t')

### Only keep movies with 1 genre label

In [33]:
def check_genre(cell):
    if len(cell) == 1:
        return True
    else:
        return False

In [34]:
s = movie_df.apply(lambda row: check_genre(row['Genres']), axis=1)
movie_df = movie_df[s]

In [35]:
len(movie_df)

22436

In [13]:
movie_df.to_csv('../../data/movie_metadata_nofil.tsv', index=False, sep='\t')

### Only keep a few major genres

In [38]:
genres = []
for item in movie_df.Genres.tolist():
    genres.extend(list(item))

In [39]:
c = Counter(genres)

In [40]:
c.most_common(10)

[('Drama', 34007),
 ('Comedy', 16349),
 ('Romance Film', 10234),
 ('Black-and-white', 9094),
 ('Action', 8798),
 ('Thriller', 8744),
 ('Short Film', 8141),
 ('World cinema', 7155),
 ('Crime Fiction', 6948),
 ('Indie', 6897)]

In [41]:
def filter_genre(cell):
    genre_list = ['Drama', 'Comedy', 'Romance Film', 'Thriller', 'Action']
    ftd_list = [item for item in cell if item in genre_list]
    if len(ftd_list) == 1:
        return ftd_list[0]
    else:
        return 0

In [42]:
movie_df.Genres = movie_df.Genres.apply(lambda cell: filter_genre(cell))

In [43]:
movie_df.head(2)

,Wikipedia_id,Freebase_id,Name,Release_date,Revenue,Runtime,Languages,Countries,Genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,(English Language),(United States of America),0
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,(English Language),(United States of America),Drama

In [44]:
len(movie_df)

81741

In [45]:
movie_df = movie_df[movie_df['Genres']!= 0]

In [46]:
len(movie_df)

35868

In [47]:
set([len(item.split(',')) for item in movie_df.Genres.tolist()])

{1}

In [48]:
movie_df.to_csv('../../data/movie_metadata_cleaned.tsv', index=False, sep='\t')